<div class="wrapper">
  <div class="section-home">
    <div class="header-graficas">
      <app-navbar></app-navbar>
    </div>
    <div class="body-home">
      <div class="row mt-5 mb-5" style="text-align: center;">
        <div class="col-12">
          <span class="title-perfil">Análisis de Datos del Sistema</span>
        </div>
      </div>

      <div class="container">
        <div class="row w-100" style="text-align: center;">
          <div class="col-6 graph">
            <!-- Gráfico Lineal -->
            <canvas 
              baseChart
              type="line"
              [data]="lineChartData"
              [options]="lineChartOptions"
              [plugins]="lineChartPlugins">
            </canvas>
          </div>
          
          <!-- Gráfico de Barras -->
          <div class="col-6 graph">
            <canvas 
              baseChart
              chartType="bar"
              [data]="barChartData"
              [options]="barChartOptions"
              [plugins]="barChartPlugins">
            </canvas>
          </div>
        </div>

        <div class="row w-100 mt-5 mb-5" style="text-align: center;">
          <!-- Gráfico Circular -->
          <div class="col-6 graph" [style.height.px]="300">
            <canvas
              baseChart
              type="pie"
              [data]="pieChartData"
              [plugins]="pieChartPlugins"
              [options]="pieChartOption">
            </canvas>
          </div>
          <!-- Gráfico de Área Polar  -->
          <div class="col-md-6 graph" [style.height.px]="300">
            <canvas 
              baseChart
              type="polarArea"
              [data]="polarAreaChartData"
              [options]="polarAreaChartOption"
              [plugins]="polarAreaChartPlugins">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
