<div class="wrapper">
    <div class="section-registro">
        <div class="header-registro">
            <mat-icon class="icon-back" (click)="regresar()">arrow_back</mat-icon>
            <span *ngIf="!editar" class="title">Registrar Materia</span>
            <span *ngIf="editar" class="title">Actualizar Materia</span>
            <mat-icon></mat-icon>
        </div>

        <!-- Formulario -->
        <div class="body-registro">

            <mat-form-field class="mat-input" appearance="outline">
                <mat-label>NRC</mat-label>
                <input matInput [(ngModel)]="materia.nrc" name="id" placeholder="Escribe el NRC" mask="00000" [disabled]="editar">
            </mat-form-field>
            <div *ngIf="errors.nrc" class="invalid-feedback">{{ errors.nrc }}</div>
            
            <mat-form-field class="mat-input" appearance="outline">
                <mat-label>Nombre de Materia</mat-label>
                <input matInput [(ngModel)]="materia.nombre" placeholder="Escribe el Nombre de Materia">
            </mat-form-field>
            <div *ngIf="errors.nombre" class="invalid-feedback">{{ errors.nombre }}</div>

            <mat-form-field class="mat-input" appearance="outline">
                <mat-label>Sección</mat-label>
                <input matInput [(ngModel)]="materia.seccion" placeholder="Escribe Sección" mask="000">
            </mat-form-field>
            <div *ngIf="errors.seccion" class="invalid-feedback">{{ errors.seccion }}</div>
            
            <mat-form-field class="mat-input" appearance="outline" class="disabled-form">
                <mat-label class="disabled-black">Seleccione los Días de Clase</mat-label>
                <input matInput [disabled]="true">
            </mat-form-field>
        
            <div class="select-dias">
                <div class="checkbox-group" *ngFor="let dia of dias; let i = index">
                    <mat-checkbox class="checkbox-item opc-sc" name="opsc" (change)="checkboxChange($event)" value="{{dia.nombre}}" [checked]="revisarSeleccion(dia.nombre)">
                    <div class="d-checkbox-nombre">{{dia.nombre}}</div>
                  </mat-checkbox>
                </div>
            </div>
            <div *ngIf="errors.dias_json" class="invalid-feedback">{{ errors.dias_json }}</div>
            
            <div class="time-container">
                <div class="ngx-time">
                    <input aria-label="default time"
                           [ngxTimepicker]="inicio"
                           [(ngModel)]="materia.horaInicio"
                           readonly
                           placeholder="Hora Inicio"
                           [format]="24">
                    <ngx-material-timepicker #inicio ></ngx-material-timepicker>
                </div>
            </div>
            <div *ngIf="errors.horaInicio" class="invalid-feedback">{{ errors.horaInicio }}</div>
            
            <div class="time-container">
                <div class="ngx-time">
                    <input aria-label="default time"
                           [ngxTimepicker]="fin"
                           [(ngModel)]="materia.horaFin"
                           readonly
                           placeholder="Hora Fin"
                           [format]="24">
                    <ngx-material-timepicker #fin ></ngx-material-timepicker>
                </div>
            </div>
            <div *ngIf="errors.horaFin" class="invalid-feedback">{{ errors.horaFin }}</div>

            <mat-form-field class="mat-input" appearance="outline">
                <mat-label>Salón</mat-label>
                <input matInput [(ngModel)]="materia.salon" placeholder="Escribe Salón">
            </mat-form-field>
            <div *ngIf="errors.salon" class="invalid-feedback">{{ errors.salon }}</div>
            
            <mat-form-field appearance="outline">
                <mat-label>Programa Educativo</mat-label>
                <mat-select [(ngModel)]="materia.programa">
                    <mat-option value="Ingeniería en Ciencias de la Computación">Ingeniería en Ciencias de la Computación</mat-option>
                    <mat-option value="Ingeniería en Tecnologías de la Información">Ingeniería en Tecnologías de la Información</mat-option>
                    <mat-option value="Licenciatura en Ciencias de la Computación">Licenciatura en Ciencias de la Computación</mat-option>
                </mat-select>
            </mat-form-field>
            <div *ngIf="errors.programa" class="invalid-feedback">{{ errors.programa }}</div>
            
            <div class="section-buttons">
                <button class="btn btn-danger" (click)="regresar()">Cancelar</button>
                <button *ngIf="!editar" class="btn btn-primary" type="submit" (click)="registrarMateria()">Registrar</button>
                <button *ngIf="editar" class="btn btn-primary" type="submit" (click)="actualizarMateria()">Actualizar</button>
            </div>
            
        </div>
    </div>
</div>